altair==5.4.0
attrs==24.2.0
blinker==1.8.2
cachetools==5.4.0
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
importlib_metadata==7.2.1
importlib_resources==6.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
narwhals==1.4.1
opencv-python==4.10.0.84
packaging==23.2
pandas==2.2.2
protobuf==4.25.4
py-cpuinfo==9.0.0
pyarrow==17.0.0
pydeck==0.9.1
pyparsing==3.1.2
pytz==2024.1
pywin32==305.1
referencing==0.35.1
rich==13.7.1
rpds-py==0.20.0
scipy==1.13.1
seaborn==0.13.2
smmap==5.0.1
streamlit==1.31.0
tenacity==8.5.0
toml==0.10.2
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tqdm==4.66.5
tzdata==2024.1
tzlocal==5.2
ultralytics==8.2.77
ultralytics-thop==2.0.0
validators==0.33.0
watchdog==4.0.2
